Package: numessenger
Priority: optional
Section: internet
Maintainer: mama21mama <mama21mama2000@yahoo.com.ar>
Architecture: all
Version: 6.8.12
Depends: nmap, alsa-utils, cryptcat, eterm, curl, gtkdialog (>=2:0.7.20-4)
Description: Chat Ñumessenger
 
 # # # # # gtkdialog # # # # # 
 .
 https://launchpad.net/ubuntu/karmic/i386/gtkdialog/2:0.7.20-4
 .
 # # # # #                                                
 .
 Sencillamente un mensajero para geek.
 .
 Modo netcat usa ahora CryptCat seria netcat con encriptacion
 o sea que se encriptara todo los paquetes que use ese modo.
 .
 Ahora se añadio el soporte multiusuario de la mano de el proyecto Ncat
 se podra crear un servidor de chat con soporte ssl para 100 clientes.
 .
 Modo normal esta en desarrollo y es algo inseguro para 
 pasar claves y demas que tengan valor.
 .
 Bugs, ideas o criticas dejar comentario
 . 
 http://blog.mamalibre.com.ar/?q=node/595#disqus_thread
 .
Homepage: http://blog.mamalibre.com.ar/
Bugs: http://blog.mamalibre.com.ar/?q=node/595#disqus_thread
Origin: Lubuntu
